body{
	background: white;
	text-align: center;
}

h1 {
	color: #BFE2F5;
	font-family:'Lobster', cursive;
}

h3, ul {
	text-align: center;
	color: #BFE2F5;
	font-family: 'Lobster', cursive;
}

.div {
	background: lightgreen;

}
.avatar {
	border-radius: 50%;
	width: 250px;
	height: 250px;
	object-fit: cover;
	border: 10px solid black;
	box-shadow: 10px 10px 10px grey;
}

.img-galery {
	border-radius: 15px;
}

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #BFE2F5;
}
.frame{
	border:4px black;
	margin: 50px auto;
	padding: 50px;
	width: 400px;
}
.frame{
	border:4px solid #BFE2F5;
	margin: 50px auto;
	padding: 50px;
	width: 400px;
}


.drapeau {
	background: white;
	height: 70px;
	
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}


.green {
	background: green;
	height: 70px;
	width: 30px;
}
.white {
	background: white;
	height: 70px;
	width: 30px;
}
.red{
	background: red;
	height: 70px;
	width: 30px;


}

.banner {
  background-size: cover;
  background-position: center;
  padding: 100px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}



.cote {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;
}
.texte1 {
	text-align : left;
}
